USE [QuanLiSV]
GO
/****** Object:  Table [dbo].[GRADE]    Script Date: 7/20/2020 8:27:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRADE](
	[ID] [int] NOT NULL,
	[MaSV] [nvarchar](10) NOT NULL,
	[TiengAnh] [float] NOT NULL,
	[TinHoc] [float] NOT NULL,
	[GDTC] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 7/20/2020 8:27:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[MaSV] [nvarchar](10) NOT NULL,
	[HoTen] [nvarchar](30) NOT NULL,
	[Email] [nvarchar](30) NOT NULL,
	[SoDT] [varchar](11) NOT NULL,
	[GioiTinh] [nvarchar](5) NOT NULL,
	[DiaChi] [nvarchar](30) NOT NULL,
	[Hinh] [nvarchar](30) NULL,
 CONSTRAINT [PK__Students__2725081A47955F36] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/20/2020 8:27:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Role] [tinyint] NOT NULL,
	[Fullname] [nvarchar](255) NULL,
 CONSTRAINT [PK__Users__C9F28457281D820B] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GRADE]  WITH CHECK ADD  CONSTRAINT [FK_Gr_St] FOREIGN KEY([MaSV])
REFERENCES [dbo].[Students] ([MaSV])
GO
ALTER TABLE [dbo].[GRADE] CHECK CONSTRAINT [FK_Gr_St]
GO
